html, body {
  overflow: hidden;
}
.content {
  background-color: lightgray;
  flex: 1;
  margin-top: 100px;
  padding: 20px;
}

.top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  height: 100vh;
}