* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

/* Styles for #root */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: brown;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  padding: 20px;
}


