.homeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin-top: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.containerLeft {
    flex: 1;
    padding: 20px;
}

.containerLeft h1 {
    font-size: 2.5em;
}

.containerLeft .contentInfo{
    margin-top: 20px;
}

.containerLeft .contentInfo p {
    font-size: 1.2em;
    line-height: 1.6;
}


.containerRight {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerRight img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.containerRight img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (min-width: 769px) {
    .homeContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .containerLeft {
        text-align: left;
        margin-bottom: 0;
    }

    .containerRight img {
        width: 250px;
        height: 250px;
    }
}

/* Media query for screens 768px or narrower */
@media (max-width: 768px) {
    .homeContainer {
        flex-direction: column;
        text-align: center;
    }

    .containerLeft, .containerRight {
        width: 100%;
    }

    .containerRight img {
        width: 150px;
        height: 150px;
    }
}
