/* General styles */
.contactContainer {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.contactTitle {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.contactText {
    text-align: left;
    color: #666;
}

.contactLink {
    display: flex;
    justify-content: start;
    align-items: left;
    text-decoration: none;
    color: #0077b5;
    margin-top: 10px;
}
.contactLink:hover {
    text-decoration: underline;
}
.contactLink a{
    margin-right: 10px;
    align-items: left;
}


/* Styles for screens larger than 768px */
@media (min-width: 769px) {
    .contactContainer {
        padding: 20px;
    }

    .contactTitle {
        font-size: 2.5em;
    }

    .contactText {
        font-size: 1.2em;
    }

    .contactLink {
        font-size: 1.5em;
    }
}

/* Styles for screens smaller than or equal to 768px */
@media (max-width: 768px) {
    .contactContainer {
        margin: 20px;
        padding: 15px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .contactTitle {
        font-size: 2em;
        text-align: center;
    }

    .contactText {
        font-size: 1em;
    }

    .contactLink {
        font-size: 1.2em;
    }
}